{% extends 'base.html' %}
{% load static %}

{% block javascript %}
  <script src="{% static 'question.js' %}"></script>
{% endblock %}

{% block content %}
  <h1 class="page-header">Question</h1>
  {% if perms.quickstart.add_question %}
  <p>
    <button type="button" class="btn btn-primary js-create-question" data-url="{% url 'add_question' %}">
      <span class="glyphicon glyphicon-plus"></span>
      New question
    </button>
  </p>
  {% endif %}

  <table class="table" id="question-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Question</th>
        <th>Tag</th>
      </tr>
    </thead>
    <tbody>
      {% include 'includes/partial_question_list.html' %}
    </tbody>
  </table>
  <div class="modal fade" id="modal-question">
    <div class="modal-dialog">
      <div class="modal-content">

      </div>
    </div>
  </div>
{% endblock %}